.hero {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    background: linear-gradient(to right, #1a032a, #003366);
    color: #5D9BCF;
    min-height: 90vh;
  }
  
  .hero-text {
    max-width: 50%;
  }
  
  .hero-text h1 {
    font-size: 48px;
    font-weight: bold;
  }
  
  .hero-text h2 {
    font-size: 32px;
    font-weight: bold;
    color: #5D9BCF;
  }
  
  .hero-text p {
    font-size: 18px;
    
  }
  
  .hero-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .primary-btn {
    background: #5D9BCF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .secondary-btn {
    background: transparent;
    border: 2px solid #5D9BCF;
    color: #5D9BCF;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .hero-image img {
    max-width: 300px;
    margin: 0;
  }
  
  @media (max-width: 900px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-text {
      max-width: 100%;
    }
  
    .hero-buttons {
      justify-content: center;
    }
  
    .hero-image img {
      max-width: 250px;
      margin-top: 20px;
    }
  }
  