.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;

  width: 100%;
  height: 60px;

  background-image:
    linear-gradient(to right, rgba(91, 169, 206, 0.9), rgba(61, 92, 150, 0.9)),
    linear-gradient(to bottom,
      rgba(133, 188, 224, 0) 0%,
      rgba(108, 141, 160, 0.8) 40%,
      rgba(162, 194, 241, 1) 100%
    );
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(4px);

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(29, 80, 128, 0.95);

  color: #076e72;
  font-weight: 500;
  font-size: 1.1rem;
  position: relative;
  z-index: 10;
}



.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 36px;
  height: 36px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #5D9BCF;
  cursor: pointer;
}

/* القائمة */
.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  font-size: 16px;
  color: #073255;
}

.nav a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a svg {
  color: #122f47;
  font-size: 18px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #003366;
    text-align: center;
    padding: 20px 0;
  }

  .nav.active {
    display: flex;
  }

  .social-icons {
    display: none !important;
  }
}
