.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #1a032a, #290e44);
  color: #b995f8;
  height: 60px;
}
.logo {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.nav a {
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}
.nav a:hover {
  text-decoration: underline;
}
.social-icons a svg {
  color: #b995f8;
  font-size: 18px;
}
.social-icons {
  margin: 0 10px;
  font-size: 18px;
}
.logo img {
  width: 36px;
  height: 36px;
}