body {
  color: #5D9BCF;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.landing{
  background: linear-gradient(to right, #1a032a, #003366);

}
h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 50px 0;
  color: #5D9BCF;
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  max-width: 1200px;
  margin: auto;
  
}

.phone-image img {
  width: 100%;
  max-width: 350px;
  transform: rotate(-10deg);
  transition: transform 0.3s ease-in-out;
}

.phone-image img:hover {
  transform: rotate(-5deg) scale(1.05);
}

.features-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.feature:hover {
  transform: translateY(-5px);
}

.advantage {
  font-size: 2px;
  font-weight: bold;
  color: #ffffff;
}

.title {
  font-size: 2.5rem;
}

.feature p {
  font-size: 1rem;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5D9BCF;
  color: black;
  margin-top: 50px
}
a {
  text-align: center;
  text-decoration: underline;
  display: block;
  color: #003366;
}

@media (max-width: 1024px) {
  .features-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .phone-image img {
    max-width: 280px;
    transform: rotate(0deg);
  }

  .features-text {
    max-width: 100%;
  }
}
.testimonials-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.testimonial-card {
  width: 30%;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .testimonial-card {
    width: 100%;
  }
}

.faq-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .faq-container {
    grid-template-columns: 1fr;
  }
}
