@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { /* Or whatever your root div id is */
  height: auto;           /* allow document height to grow */
  min-height: 100%;
  overflow-y: auto !important; /* allow vertical scrolling */
}

body{
  background:none;
  margin: 0;
  padding: 0;
}

/* Undo accidental hiding applied to layout containers */
.app-root, /* if you have a wrapper id/class */ 
.main-wrapper {
  overflow: visible !important;
  min-height: auto !important;
}

/* Custom scrollbar styles */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
